{% extends 'base.html' %}
{% load static %}

						{% block content %}

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2> Conoce a Irpi </h2>
								</header>
								<div id="chat"></div>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<div class="container">
									<form role="form" method='post' action=''>
										{% csrf_token %}
									  <div class="form-group">
										<label for="lugar"> Tipo de lugar: <abbr title="required">*</abbr></label>
										<select class="form-control form-control-lg" name="select-tipo">
											{% for tipo in tipos %}
												<option value='{{tipo.id_tipos}}'> {{tipo.tipo}}</option>
											{% endfor %}
										</select>
									  </div>
								  
									  <div class="form-group">
										<label for="zona"> Ubicacion: <abbr title="required">*</abbr></label>
										<select class="form-control form-control-lg" name="select-zona">
											{% for zona in zonas %}
												<option value='{{zona.id_zonas}}'> {{zona.zona}}</option>
											{% endfor %}
										</select>
									  </div>
								  
									  <button type="submit" class="btn btn-primary" style="margin-top: 35px;">Enviar</button>
									</form>
								  </div>
							</section>

					</div>

				{% endblock %}